
//////////    *PROMOCIONES*    //////////
 /*           vista mobile             */ 
body {
    display: block;

    .contacto{
        display: block;
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        border-radius: 3px;
        color: #99866a; 
        padding: 50px 50px 0 50px;
        -webkit-animation: fade-in 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        
    }

    #form {
        border-radius: 5px;
        padding: 2px; 
        width: 100%;
        padding: 0 60px 10px 60px;
        -webkit-animation: slit-in-vertical 0.45s ease-out both;
        animation: slit-in-vertical 0.45s ease-out both;
        
        
    }
    
    .row:after {
        content: "";
        display: table;
        clear : both;
    }
    
    .col-70{
        margin-top: 10px;
        width: 100%;
    }
    
    input[type=text], [type=email] { 
        width: 100%;
        padding: 12px;
        border: hidden;
        font-size: 15px;
        font-family: calibri;
        border-bottom: 2px solid grey;
        outline: none;
        box-sizing: border-box;
        resize: vertical;
    }
    
    input:focus {
        font-style: italic;
        border-bottom: 2px solid rgb(0, 0, 0);
    }
    
    textarea{
    width: 100%;
        font-style:calibri; 
        padding: 12px;
        border: hidden;
        font-size: 15px;
        font-family: calibri;
        border-bottom: 2px solid grey;
        outline: none;
        height: 100px;
        resize: none;
    }
    
    textarea:focus  {
        font-style: italic;
        border-bottom: 2px solid black;
    }
    
    input[type=submit] {
        border: 2px solid grey;
        padding: 12px 12px 10px 12px;
        font-size: 13px;
        font-family: calibri;
        background-color: white;
        font-weight: 700;
        float: right;
        color: grey;
        text-transform: uppercase;
        transition: all 0.35s ease-in-out;
    }
    
    input[type=submit]:hover {
        color: black;
        padding: 12px 56px 10px 56px;
        outline: none;
        border: 2px solid black;
        letter-spacing: 0px;
        
    }

    .mapa{
    display: flex;      
    justify-content: center;
    margin-top: 20px;
    
        iframe{
            width: 350px;
            margin: 30px;
        }
    
    }
}


 /*           vista tablet             */ 

@media (min-width: 768px){

    body{

        .contacto{
            font-size: 19px; 
            font-style: oblique;
            padding: 60px 150px 0 150px;
        }

        #form{
            padding: 40px 200px 0 200px;
        }
        input[type=text], [type=email]{
            font-size: 19px;
        }
        input[type=submit] {
            font-size: 17px;
        }
        textarea{
            font-size: 19px;
        }

        .mapa{
            iframe{
                width: 550px;
                padding: 10px;
                margin-bottom: 30px;
            }
        }
    }
}

@media (min-width: 1200px){

    body{

        .contacto{
            font-size: 32px; 
            padding: 100px 600px 20px 600px;
        }

        #form{
            padding: 50px 550px 0 550px;
        }
        input[type=text], [type=email]{
            font-size: 25px;
        }
        input[type=submit] {
            font-size: 20px;
        }
        textarea{
            font-size: 25px;
        }

        .mapa{
            iframe{
                width: 1200px;
                height: 500px;
                margin: 70px;
            }
        }
    }
}

